<%- include('partials/header') %>

    <main>
        <h1>Projects in Category: <%= category.name %></h1>

        <% if (projects.length > 0) { %>
            <ul class="item-list">
                <% projects.forEach(project => { %>
                    <li>
                        <a href="/project/<%= project.project_id %>"><%= project.title %></a>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>There are currently no projects listed in this category.</p>
        <% } %>
    </main>

<%- include('partials/footer') %>