<%- include('partials/header') %>

    <main>
        <h1 class="text-center"><%= title %></h1>

        <ul class="item-list">
            <% categories.forEach(category => { %>
                <li>
                    <a href="/category/<%= category.category_id %>"><%= category.name %></a>
                </li>
            <% }) %>
        </ul>
    </main>

<%- include('partials/footer') %>