<%- include('partials/header') %>

    <main>
        <h1><%= title %></h1>

        <section class="card-grid" aria-label="Partner organizations">
            <% organizations.forEach(organization => { %>
                <article class="card">
                    <a class="card-overlay" href="/organization/<%= organization.organization_id %>"
                        aria-label="View details for <%= organization.name %>"></a>

                    <img src="/images/<%= organization.logo_filename %>" alt="<%= organization.name %> logo"
                        class="card-image">
                    <h2 class="card-title"><%= organization.name %></h2>
                    <p>
                        <%= organization.description %>
                    </p>
                </article>
            <% }) %>
        </section>
    </main>

<%- include('partials/footer') %>