<%- include('partials/header') %>
    <main>
        <h1>
            <%= project.title %>
        </h1>
 
        <p><strong>Description:</strong>
            <%= project.description %>
        </p>
        <p><strong>Date:</strong>
            <%= new Date(project.date).toLocaleDateString('en-US', { month: 'long' , day: 'numeric' , year: 'numeric' }) %>
        </p>
        <p><strong>Location:</strong>
            <%= project.location %>
        </p>
        <p>
            <strong>Organization:</strong>
            <a href="/organization/<%= project.organization_id %>">
                <%= project.organization_name %>
            </a>
        </p>

        <% if (categories && categories.length > 0) { %>
            <div class="category-tags">
                <strong>Categories:</strong>
                <% categories.forEach(category => { %>
                    <a href="/category/<%= category.category_id %>" class="tag"><%= category.name %></a>
                <% }) %>
            </div>
        <% } %>
    </main>
 
    <%- include('partials/footer') %>