<%- include('partials/header') %>
    <main>
        <h1><%= title %></h1>

        <h2>Upcoming Service Projects</h2>
        <section class="card-grid" aria-label="Service projects">
            <% projects.forEach(project=> { %>
                <article class="card">
                    <p>
                        <strong>
                            <%= new Date(project.project_date).toLocaleDateString('en-US', { month: 'long' , day: 'numeric' ,
                                year: 'numeric' }) %>
                        </strong>
                        : <%= project.title %> (<%= project.organization_name %>)
                    </p>
                    <p><strong>Location:</strong>
                        <%= project.location %>
                    </p>
                    <p>
                        <%= project.description %>
                    </p>
                </article>
                <% }) %>
        </section>
    </main>
    
<%- include('partials/footer') %>